@font-face{
    src: url(../style/fonts/OptimusPrinceps.ttf);
    font-family: optimus;
}
@font-face{
    src: url(../style/fonts/univers_55.ttf);
    font-family: univers;
}
#title{
    position: relative;
    text-align: center;
    font-weight: bolder;
    font-family: optimus;
    font-size: 100px;
    color: #d67429;
    text-shadow: 
      -1px -1px 0 rgb(12, 10, 10),
      -2px -2px 0 rgb(12, 10, 10),
      -3px -3px 0 rgb(12, 10, 10),
      -4px -4px 0 rgb(12, 10, 10),
      -5px -5px 0 rgb(12, 10, 10),
      -30px 20px 40px #ffffff
}
.sidebar {
    top: 0%;
    position: fixed;
    left: -275px;
    width: 275px;
    height: 100%;
    background: brown;
    transition: all .5s ease;
  }
  .sidebar header {
    font-family: optimus;
    font-size: 22px;
    color: white;
    line-height: 70px;
    text-align: center;
    background: maroon;
    user-select: none;
  }
  .sidebar header a{
      text-decoration: none;
      list-style: none;
      color: white;
  }
  .sidebar ul li a{
      position: relative;
      right: 2%;
  }
  .sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 18px;
    color: white;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(255,255,255,.1);
    transition: .4s;
    font-family: univers;
    text-decoration: none;
  }

li{
    list-style: none;

}
.sidebar ul li:hover a{
    padding-left: 50px;
    color: wheat;
}
.sidebar header:hover a{
    color: wheat;
}
.sidebar ul a i{
  margin-right: 16px;
}
#check{
  display: none;
}
label #btn,label #cancel{
    position: fixed;
  background: #042331;
  border-radius: 3px;
  cursor: pointer;
}
label #btn{
  background-color: maroon;
  z-index: 1111;
  left: 40px;
  top: 25px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  transition: all .5s;
}
label #cancel{
  background-color: white;
  z-index: 1111;
  left: -195px;
  top: 14px;
  font-size: 30px;
  color: brown;
  padding: 4px 9px;
  transition: all .5s ease;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
  left: 220px;
}
.box-img{
    position: relative;
    height: 800px;
    width: 900px;
    margin: auto;
    bottom: 70px;
}
.first-content{
    height: 400px;
    width: 100%;
    background-color: #DCDCDC;
    display: flex;
    justify-content: center;
}
.first-content img{
    height: 75%;
    width: 85%;
}
.first-content h2{
    color: rgb(122, 70, 11);
    font-weight: bold;
    text-shadow:
    -1px -1px 0 rgb(12, 10, 10),
    -30px 20px 40px #ffffff;
    font-family: optimus;
}
#playbutton{
    position: relative;
    height: 60px;
    width: 200px;
    bottom: 90px;
    left: 390px;
}
.second-content{
    height: 200px;
    width: 100%;
    background-color: #C0C0C0;
    display: flex;
    margin: auto;

}

.second-content h1{
    color: rgb(122, 70, 11);
    font-weight: bold;
    text-shadow:
    -1px -1px 0 rgb(12, 10, 10),
    -30px 20px 40px #ffffff;
    font-family: optimus;
    text-align: center;
    margin-top: 4%;
    font-size: 35px;
}

.second-content img{
    margin-top: 6%;
    width: 10%;
}

.content{
    position: relative;
    margin-left: 10%;
}

#choose{
    left: 4%;
}

.third-content{
    padding-top: 1px;
    width: 100%;
    background-color: #DCDCDC;
    height: 600px;
    bottom: 25px;
}
.mySlides{
    display: none
}
img{
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  width: 350px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #A0522D;
  font-size: 17px;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  bottom: -25px;
  width: 100%;
  text-align: center;
  font-style: univers;
}

/* Number text (1/3 etc) */

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.slideshow-container img{
    height: 400px;
    width: 100px;
}

#third-title{
    text-align: center;
    color: rgb(122, 70, 11);
    font-weight: bold;
    text-shadow:
    -1px -1px 0 rgb(12, 10, 10),
    -30px 20px 40px #ffffff;
    font-family: optimus;
    font-size: 35px;
}

#third-undertitle{
    text-align: center;
    color: rgb(122, 70, 11);
    font-family: univers;
    font-size: 20px;
}