/* ******************** MMEEDDIIAA ******************** */
@font-face{
    src: url(../style/fonts/OptimusPrinceps.ttf);
    font-family: optimus;
}
@font-face{
    src: url(../style/fonts/univers_55.ttf);
    font-family: univers;
}
/* Media Queries: Tablet Landscape */
 @media screen and (max-width: 1060px) {
    .content { width:67%; }
    .nav-bar { width:30%; margin-left:3%;}  
} 
/* Media Queries: Tabled Portrait */
 @media screen and (max-width: 768px) {
    .content { width:100%; }
    .nav-bar { width:100%; margin:0; border:none; }
}
img { 
    max-width: 100%; height: auto; 
}
@media (min-device-width:600px) {
    img[data-src-600px] {
        content: attr(data-src-600px, url);
    }
}
@media (min-device-width:800px) {
    img[data-src-800px] {
        content: attr(data-src-800px, url);
    }
} 
 html { 
    font-size:100%; 
}
@media (min-width: 640px) { 
    body {font-size:1rem;} 
} 
@media (min-width:960px) { 
    body {font-size:1.2rem;} 
} 
@media (min-width:1100px) { 
    body {font-size:1.5rem;} 
}  
/* ******************** END OF MEDIA ******************** */


/* ******************** HHEEAADD ******************** */
.regions a:hover{
    border-bottom: 1px solid wheat;
    
}

.header{
    margin: auto;
    width: 80%;
    height: 500px;
}
#title{
    position: relative;
    text-align: center;
    font-weight: bolder;
    font-family: optimus;
    font-size: 90px;
    color: #d67429;
    left: 10%;
    text-shadow: 
      -1px -1px 0 rgb(12, 10, 10),
      -2px -2px 0 rgb(12, 10, 10),
      -3px -3px 0 rgb(12, 10, 10),
      -4px -4px 0 rgb(12, 10, 10),
      -5px -5px 0 rgb(12, 10, 10),
      -30px 20px 40px #000000
}
body{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.main{
     display: flex; 
     position: relative;
}
.regions{
    display: flex;
    justify-content: center;
    top: 10%;
    left: 0%;
    position: relative;
    width: 100%;
    margin: auto;
    height: 120px;
    margin-left: 70px;
}
#selected-region {
    margin-top: 19px;
    width: 100px;
    height: 100px;
    /* border-bottom: 1px solid white; */
}
.regions img{
    margin-top: 40px;
    height: 60px;
    width: 60px;
    margin-left: 3%;
    padding-right: 7px;
    padding-left: 0px;
}
/* ******************** END OF HEAD ******************** */


/* ******************** NNAAVV BBAARR ******************** */
.nav-bar li a:hover{
    padding-right: 10px;
}
.nav-bar{
    left: 31%;
    position: relative;
    justify-content: center;
    top: 7%;
    width: 50%;
    height: 80px;
    margin-top: 10%;
}
.nav-bar ul{
    /* background-color: red; */
    display: flex;
    font-size: 25px;
    font-family: univers;
    width: 100%;
}
.nav-bar ul li{
    list-style-type: none;
}
.nav-bar li{
    padding: 10px 20px 10px 20px;
    overflow: hidden;
    border: solid black;
}
.nav-bar a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.nav-bar a:hover {
    color: wheat;
}
.brown{
    background-color: brown;
}
.selected{
    background-color: #ff8340;
}
/* ******************** END OF NAV BAR ******************** */


/* ******************** CCOONNTTEENNTT ******************** */
.content{
    display: flex;
    margin: auto;
    width: 80%;
    /* background-color: black; */
}

.sidebar{
    flex: 1;
    order: 1;
    /* background-color: red; */
}

.cards{
    flex: 3;
    order: 2;
}
.content ul li{
    list-style: none;
}
.content img{
    left: 140px;
    position: relative;
    float: left;
    width: 180px;   
    margin: 10px 10px 10px 10px;
    height: 220px;
}
/* ******************** END OF CONTENT ******************** */


/* ******************** SSIDDEE CCOONNTTEENNTT ******************** */


.sidebar  header a{
    text-decoration: none;
    color: white;
    padding-right: 50px;
}

.sidebar {
   top: 0%;
    position: fixed;
    left: 0px; 
    width: 230px;
    height: 100%;
    background: brown;
    transition: all .5s ease;
}
.sidebar header {
    font-size: 25px;
    color: white;
    line-height: 70px;
    text-align: center;
    background: #800000;
    user-select: none;
}
.sidebar ul a{
    position: relative;
    font-style: univers;
    display: block;
    height: 100%;
    width: 100%;
    line-height: 90px;
    font-size: 18px;
    color: white;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(255,255,255,.1);
    transition: .4s;
    text-decoration: none;
}
.sidebar ul li:hover a{
    padding-left: 15px;
    color: wheat;
  }
.sidebar ul a i{
    margin-right: 16px;
}
.sidebar header i{
    margin-right: 16px;
}
.sidebar header:hover a{
    color: wheat;
}
.sidebar ul li{
    list-style: none;
}
